/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #faf7f9;
    color: #d3d3d3;
}

header {
    background-color: #d0bff0;
    color: #333333;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}




a {
    color: #39ff14;
}



header img {
    max-width: 120px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

section {
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.table-container {
    margin: 20px 0;
    border: #333;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #0c0b0b;
}

th, td {
    padding: 15px;
    text-align: left;
    background-color: #f8f5f7;
    color: #0c0b0b;
}

th {
    background:#e9d0e1; ; /* Header background matching the header color */
    color: #0f0f0f;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    background:#e9d0e1; ;
    color: #0c0b0b;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.media-container {
    margin: 20px 0;
}

video, audio {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

footer{
    background-color:#0f0f0f/* Deep Navy for footer */
    color:whitesmoke(srgb red green blue)
    padding:15px;
    text-align:center;
    box-shadow:0-4px 8px rgba(0,0,0,0.2);
}

footer p {
    margin: 0;
}

footer a {
    color:whitesmoke;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

h2{
    color: #0c0b0b;
}